@import "../../../variables.scss";

.footer {
    background-color: $footerBackground;
    position: reletive;
    bottom: 0;
    left: 0;
    width: 100%;

    .robosoft-copyright {
        color: $footerTextColor;
        font-family: Roboto;
        font-size: 1.25em; // 18px;
        letter-spacing: 0.0156em; // 0.15px;
        line-height: 1.5em; // 24px;
    }
}
