@import "../../../../../variables.scss";
@import "../../../../../mixin.scss";

.left-bar {
    background-color: $basicWhite;
    border-radius: 20px;

    @include custom-button(100%, $robosoftPink);

    .left-bar-header {
        opacity: 0.87;
        color: $basicBlack;
        font-family: $roboto;
        font-size: 1.8em; // 24px;
        letter-spacing: 0;
        line-height: 1.3; // 28px;
        word-wrap: break-word;
    }
    @include lightPinkBackground();

    .options-container {
        font-size: 1.2em; // 16px;
        cursor: pointer;
        .option {
            padding-top: 5%;
            padding-bottom: 5%;
            padding-left: 5%;
            margin-top: 5%;
            margin-bottom: 5%;
            .mat-icon {
                font-weight: bold;
                font-size: 1.87em; //30px;
                display: flex;
                align-items: flex-end;
            }
        }
        .active {
            border-radius: 1.5em; // 24px
            background-color: $lightPink;
            color: $basicBlack;
            .mat-icon {
                display: none !important;
            }
        }
    }
}
