<div class="left-bar p-4 shadow-sm ml-3 ml-md-4 mr-0">
    <span class="left-bar-header">Your <br />Questionnaires</span>
    <div class="d-flex justify-content-center" (click)="newQuestionnaireAction()">
        <button class="custom-btn mt-4 shadow" mat-raised-button>
            <div class="btn-text">New Questionnaire</div>
        </button>
    </div>
    <div class="options-container list-group mt-4 pb-5">
        <div *ngFor="let value of OPTIONS; index as i" [ngClass]="{'option' : true, 'active' : i === 0}"
            data-toggle="list" href="#" (click)="optionsSelector(value)">
            <span class="option-text">{{ value | textSlice:0:20 }}</span>
            <mat-icon class="mat-icon float-right">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>