<div class="menu-container pt-0 pl-4 pr-4 pb-4">
    <div class="menu-with-background">
        <mat-icon class="mat-icon">save</mat-icon>
        <span class="menu-text">SAVE</span>
    </div>
    <div class="menu-with-background">
        <mat-icon class="mat-icon">preview</mat-icon>
        <span class="menu-text">PREVIEW</span>
    </div>
    <div class="menu-with-background">
        <mat-icon class="mat-icon">publish</mat-icon>
        <span class="menu-text">PUBLISH</span>
    </div>
    <div class="menu-with-background">
        <mat-icon class="mat-icon">add_alert</mat-icon>
        <span class="menu-text">REMIND</span>
    </div>
    <div class="menu-with-background">
        <mat-icon class="mat-icon">article</mat-icon>
        <span class="menu-text">GENERATE REPORT</span>
    </div>
</div>