@import "../../../variables.scss";
@import "../../../mixin.scss";

.menu-container {
    .menu-with-background {
        display: flex;
        align-items: center;
        background-color: $lightPink;
        margin-bottom: 10%;
        border-radius: 0.625em; // 10px;
        color: $robosoftPink;
        padding: 6%;
        cursor: pointer;
        .menu-text {
            color: $robosoftPink;
            font-family: $roboto;
            font-size: 1em; // 14px;
            font-weight: 500;
            letter-spacing: 0.078em; // 1.25px;
            line-height: 1em; //16px;
            padding-left: 5%;
        }
    }
}

@media only screen and (min-width: 62em) { //992px
    .menu-container
    {
        border-left: 0.125em solid $robosoftPink;
    }
}
