<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand pt-3 pb-3 pl-0 pl-md-5" href="#">
        <img class="top-bar-logo-img" src="../../../assets/images/Robosoft_logo_horizontal.svg" alt="logo"/>
    </a>

    <!-- Disply user profile only if user is logged in  -->
    <div class="navbar-items ml-auto pr-md-5">
      <a class="nav-link" href="#">
        <div class="profile-area d-flex align-items-center">
          <p class="profile-name pt-3 pr-3 d-none d-sm-block">Jane Doe</p>
          <div class="profile-img-container">
            <img class="profile-img" src="https://pbs.twimg.com/profile_images/1143197290510745600/eG8FVJUV.png" alt="user-profile"/>
          </div>
        </div>
      </a>
    </div>
    <!--------------------------------------------------->

  </div>
</nav>