@import "../../../variables.scss";

.navbar {
    box-shadow: 0 8px 15px 0 $topBarShadow;
    .navbar-brand {
        width: 65%;
        .top-bar-logo-img {
            max-width: 100%;
            height: auto;
        }
    }
    .profile-area {
        .profile-name {
            color: $basicBlack;
        }
        .profile-img-container {
            border-radius: 50em;
            width: 3.2em;
            height: 3.2em;
            border: 0.15em solid $robosoftPink;
            overflow: hidden;
            .profile-img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}
