<div class="container-fluid d-flex justify-content-center">
    <div class="container">
        <div class="form-container pt-3">
            <div class="close-form" (click)="closeForm()">
                <span class="close-icon"> + </span>
            </div>
            <form class="form" [formGroup]="changePasswordForm"
                (ngSubmit)="changePasswordAction(changePasswordForm.value)">
                <div class="form-title">
                    <span class="text">
                        Change Password
                    </span>
                </div>
                <mat-form-field class="input-area" appearance="outline">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput type="password" formControlName="password_1" />
                </mat-form-field>
                <mat-form-field class="input-area" appearance="outline">
                    <mat-label>Re - Enter New Password</mat-label>
                    <input matInput type="password" formControlName="password_2" />
                    <mat-hint [hidden]="!(isFormSubmited && !(isPasswordMatching))" class="text-danger">Password not
                        matching
                    </mat-hint>
                    <mat-hint [hidden]="!(isFormSubmited && isPasswordMatching && !(ifFormateMatching))"
                        class="text-warning">Please Enter password in required formate
                    </mat-hint>
                </mat-form-field>
                <div class="d-flex justify-content-center pt-3">
                    <button class="custom-btn shadow" type="submit" mat-raised-button>
                        <span class="btn-text">Update</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>