<div class="overlay" [hidden]="!overlay">
</div>

<div class="container-fluid pt-4 pl-0 pl-lg-5">
    <div class="row">
        <div class="col-12 col-sm-4 col-lg-3 pr-sm-0">
            <app-home-left-bar></app-home-left-bar>
        </div>
        <div class="col-12 col-sm-8 col-lg-9 pr-4 pr-sm-0 pr-lg-5 mt-4 mt-sm-0">
            <div class="right-bar shadow-sm ml-3 ml-sm-3 mr-sm-4 mr-md-5 pb-0 pb-lg-3">
                <div class="row">
                    <div class="col-12 col-lg-8 pt-4 pr-4 pr-lg-0 input-bar">
                        <span class="input-bar-header ml-3">Questionnaire</span>
                        <form class="input-form ml-3 pr-2">
                            <mat-form-field class="input-area-full" appearance="outline">
                                <mat-label>Enter Title</mat-label>
                                <input matInput type="text" />
                                <mat-hint>Please enter appropriate title</mat-hint>
                            </mat-form-field>

                            <mat-form-field class="input-area-full" appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea matInput rows="5"></textarea>
                            </mat-form-field>

                            <mat-form-field class="input-area-medium pr-2" appearance="outline">
                                <mat-label>Button Title</mat-label>
                                <input matInput type="text" />
                            </mat-form-field>

                            <mat-form-field class="input-area-medium pl-2" appearance="outline">
                                <mat-label>Button Text</mat-label>
                                <input matInput type="text" />
                            </mat-form-field>

                            <mat-form-field class="input-area-full mb-4" appearance="outline">
                                <mat-label>Check box text</mat-label>
                                <input matInput type="text" />
                            </mat-form-field>

                            <span class="input-bar-header">Additional Details</span>
                            <div class="additional-details">

                                <mat-form-field class="input-area-small pr-1" appearance="outline">
                                    <mat-label>Select Start Date</mat-label>
                                    <input matInput [matDatepicker]="picker1">
                                    <mat-datepicker-toggle matSuffix class="icon-pink" [for]="picker1">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="input-area-small pl-1" appearance="outline">
                                    <mat-label>Select End Date</mat-label>
                                    <input matInput [matDatepicker]="picker2">
                                    <mat-datepicker-toggle matSuffix class="icon-pink" [for]="picker2">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field class="input-area-small pl-2" appearance="outline">
                                    <mat-label>Auto Reminder</mat-label>
                                    <input matInput type="text" />
                                    <span matSuffix class="input-suffix">Days</span>
                                </mat-form-field>


                                <mat-form-field class="input-area-medium pr-2" appearance="outline">
                                    <mat-label>Select Content PPT File</mat-label>
                                    <ngx-mat-file-input></ngx-mat-file-input>
                                    <mat-icon matSuffix class="icon-pink">cloud_upload</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="input-area-medium pl-2" appearance="outline">
                                    <mat-label>Select participant xl sheet</mat-label>
                                    <ngx-mat-file-input></ngx-mat-file-input>
                                    <mat-icon matSuffix class="icon-pink">cloud_upload</mat-icon>
                                </mat-form-field>

                                <mat-form-field class="input-area-full" appearance="outline">
                                    <mat-label>Mail Body</mat-label>
                                    <textarea matInput></textarea>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-lg-4 mt-4 pb-5">
                        <app-home-screen-menu (menuClickListner)="menuClickListner($event)" ></app-home-screen-menu>
                    </div>
                </div>

                <div class="toggle-options-container">
                    <span class="toggle-options" [hidden]="!overlay">
                        <div routerLink="/update-password" class="light-pink-background shadow">
                            Change Password
                        </div>
                        <div class="light-pink-background shadow" (click)="toggleModal('s-admin')">
                            Add/Remove Super Admins
                        </div>
                        <div class="light-pink-background shadow" (click)="toggleModal('admin')">
                            Add/Remove Admins
                        </div>
                    </span>
                    <div class="fab-button-container p-4" (click)="toggleOverlayMode()">
                        <button mat-fab class="fab-button" aria-label="Example icon button with a delete icon">
                            <mat-icon>{{ closeIcon }}</mat-icon>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<!-- Button trigger modal -->
<button [hidden]="true" type="button" id="myModal" data-toggle="modal" data-target=".bd-example-modal-lg"></button>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false"  #closeBtn>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-remove-admins (toggleModal)="toggleModal($event)" [addAdminType]="addAdminType"></app-add-remove-admins>
            </div>
      </div>
    </div>
</div>