@import "../../../variables.scss";
@import "../../../mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

@include overriding-material-input-box();

.container-fluid {
    background-color: $homePageBackground;
    
    .row {
        .right-bar {
            background-color: $basicWhite;
            border-radius: 20px;

            .input-bar {
                .input-bar-header {
                    opacity: 0.87;
                    color: $basicBlack;
                    font-family: $roboto;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0.15px;
                    line-height: 24px;
                }
                .input-form{
                    @include input-area-full();
                    @include input-area-medium();

                    .additional-details {
                        @include input-area-small();
                        .input-suffix {
                            position: relative;
                            bottom: 5px;
                            color: $footerTextColor;
                            font-family: $roboto;
                            font-size: 16px;
                            letter-spacing: 0.15px;
                        }
                    }
                    .icon-pink {
                        color: $robosoftPink;
                        cursor: pointer;
                    }
                }
            }            
        }
    }
}