<div class="left-bar p-4 shadow-sm ml-3 ml-md-4">
    <span class="left-bar-header">Your <br />Questionnaires</span>
    <div class="d-flex justify-content-center pt-3">
        <button class="small-pink-btn mt-4" mat-raised-button>
            <div class="btn-text">New Questionnaire</div>
        </button>
    </div>
    <div class="options-container mt-2 pt-4 pb-5">
        <div class="light-pink-background p-3">
            <span class="option-text">Secure coding Guidel...</span>
        </div>
        <div class="option">
            <span class="option-text"> ISMS Questionnaire </span>
            <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
        </div>
        <div class="option">
            <span class="option-text"> PA Questionnaire </span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="option">
            <span class="option-text"> Process Guidelines </span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>