<div class="left-bar p-4 shadow-sm ml-3 ml-md-4 mr-0">
    <span class="left-bar-header">Your <br />Questionnaires</span>
    <div class="d-flex justify-content-center">
        <button class="custom-btn mt-4" mat-raised-button>
            <div class="btn-text">New Questionnaire</div>
        </button>
    </div>
    <div class="options-container list-group mt-4 pb-5">
        <div class="option active" data-toggle="list" href="#" aria-controls="home">
            <span class="option-text">Secure coding Guidel...</span>
            <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
        </div>
        <div class="option" data-toggle="list" href="#" aria-controls="profile">
            <span class="option-text"> ISMS Questionnaire </span>
            <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
        </div>
        <div class="option" data-toggle="list" href="#" aria-controls="messages">
            <span class="option-text"> PA Questionnaire </span>
            <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
        </div>
        <div class="option" data-toggle="list" href="#" aria-controls="settings">
            <span class="option-text"> Process Guidelines </span>
            <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
        </div>
    </div>
</div>