<div class="container-fluid d-flex justify-content-center">
    <div class="container">
        <div class="form-container pt-3">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="loginAction(loginForm.value)">
                <div class="form-title">
                    <span class="text">
                        Login
                    </span>
                </div>
                <mat-form-field class="input-area" appearance="outline">
                    <mat-label>Enter Username</mat-label>
                    <input matInput type="text" formControlName="username" />
                </mat-form-field>
                <mat-form-field class="input-area" appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-hint [hidden]="!(isFormSubmited && loginError)" class="text-danger">Sorry error while login
                    </mat-hint>
                </mat-form-field>
                <div class="d-flex justify-content-center pt-3">
                    <button class="custom-btn shadow" type="submit" mat-raised-button>
                        <span class="btn-text">Login</span>
                    </button>
                </div>
                <div class="forget-password pt-3" (click)="forgotPassword()">
                    <span class="forget-password-text">
                        Forgot password ?
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>