<div class="container-fluid d-flex justify-content-center">
    <div class="container">
        <div class="form-container pt-3">
            <form class="form">
                <div class="form-title">
                    <span class="text">
                        Login
                    </span>
                </div>
                <mat-form-field class="input-area" appearance="outline">
                    <mat-label>Enter Username</mat-label>
                    <input matInput />
                </mat-form-field>
                <mat-form-field class="input-area" appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput />
                </mat-form-field>
                <div class="d-flex justify-content-center pt-3">
                    <button class="small-pink-btn" mat-raised-button>Login</button>
                </div>
                <div class="forget-password pt-3">
                    <a href="#" class="forget-password-text">
                        Forgot password ?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

