@import "../../../variables.scss";
@import "../../../mixin.scss";


.container-fluid {
    margin-top: -40px;
    .form-container {
        @include closeFormIcon();
    }
    .form {
        @include formTitle("left", 0);
        @include input-area-full();
        @include input-area-medium();
        @include input-area-small();
        @include fabButton();
        @include custom-button(8.1em, $robosoftPink);
        .editing-area-1 {
            border-bottom: 1px dashed $dashedBorder;
        }

        .form-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 11.2em;
        }
    }
}
