@import "./variables.scss";

@mixin input-form($height, $width, $padding) {
    .container-fluid {
        background: $pinkGradientBackground;
        height: 90%;

        .container {
            background-color: $basicWhite;
            border-radius: 1.5em;
            width: $width * 1em;
            height: $height * 1em;
            transition: 1s;
            padding-left: $padding * 1%;
            padding-right: $padding * 1%;
            margin-top: 8%;
            position: relative;

            @include closeFormIcon();

            .form {
                @include formTitle();

                .input-area {
                    width: 100%;
                    font-size: 1em;
                }
                .forget-password {
                    text-align: center;
                    height: 0.8em;
                    cursor: pointer;
                    .forget-password-text {
                        opacity: 0.8;
                        color: $basicBlack;
                        font-family: $roboto;
                        font-size: 1em;
                        letter-spacing: 0;
                        line-height: 0.8em;
                    }
                }

                @include custom-button(11em, $robosoftPink);

                .message-display {
                    color: $basicBlack;
                    font-family: $roboto;
                    font-size: 1.2em; // 16px;
                    letter-spacing: 0;
                    line-height: 1.18em; // 19px;
                    text-align: center;
                }
            }
        }
    }
}

@mixin formTitle($textAlign: center, $padding: 0.9em) {
    .form-title {
        text-align: $textAlign;
        padding: $padding;
        font-family: $inter;
        font-size: 1.8em;
        font-weight: 31.25em;
        letter-spacing: 0;
        line-height: 1.9em;
    }
}

@mixin closeFormIcon() {
    .close-form {
        position: absolute;
        color: $basicBlack;
        top: 0.4em;
        right: 0.4em;
        transform: rotate(45deg);
        font-size: 3.5em;
        color: $custom-label-color;
        cursor: pointer;
    }
}

@mixin custom-button($width, $color) {
    .custom-btn {
        border-radius: 1.9em;
        width: $width;
        height: 3.5em;
        background-color: $color;
        color: $basicWhite;
        .btn-text {
            font-family: $roboto;
            letter-spacing: 0.078em; // 1.25px;
            line-height: 0.75em; // 28px;
            white-space: normal;
        }
        &:focus {
            outline: none;
        }
    }

    .custom-btn:after {
        content: "";
        position: absolute;
        bottom: 0%;
        left: 5%;
        width: 80%;
        height: 8%;
        border-radius: 50%;
        box-shadow: 0 0.18em 1.5em $robosoftPink;
    }
}

@mixin input-area-full($paddingTop: 2.5%) {
    .input-area-full {
        padding-top: $paddingTop;
        width: 100%;
    }
}

@mixin input-area-medium() {
    .input-area-medium {
        padding-top: 2.5%;
        width: 50%;
    }
}

@mixin input-area-small() {
    .input-area-small {
        padding-top: 2.5%;
        width: 33.3%;
    }
}

@mixin fabButton($color: $robosoftPink) {
    .fab-button {
        background-color: $color;
        outline: none;
    }
    .fab-button:after {
        content: "";
        position: absolute;
        bottom: 0%;
        top: 50%;
        left: 5%;
        width: 90%;
        height: 30%;
        border-radius: 50%;
        box-shadow: 0 0.6em 1.8em $robosoftPink;
    }
}

@mixin lightPinkBackground() {
    .light-pink-background {
        border-radius: 1.5em; // 24px
        background-color: $lightPink;
    }
}

@mixin overlayMode() {
    .overlay {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $overlayBackground;
        z-index: 1;
        cursor: pointer;
    }
}

@mixin modelStyle {
    .modal {
        .modal-lg {
            max-width: 73.5em;
            span {
                font-size: 1.6em;
            }
            .modal-content {
                border-radius: 1.25em; // 20px;
                .modal-header {
                    border: none;
                    .close {
                        outline: none;
                    }
                }
            }
        }
    }
}

@mixin overriding-material-input-box() {
    ::ng-deep {
        .mat-form-field-appearance-outline .mat-form-field-outline {
            color: $custom-label-color;
        }

        .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
            color: $custom-label-color;
        }

        .mat-form-field-label {
            color: $custom-label-color;
        }

        .mat-form-field.mat-focused .mat-form-field-label {
            color: $custom-label-color;
        }

        .mat-datepicker-toggle .mat-icon-button {
            outline: none;
        }

        .mat-calendar-body-selected {
            background-color: $robosoftPink;
        }
    }
}
