@import "./variables.scss";

@mixin input-form() {
    .container-fluid {
        background: $pinkGradientBackground;
        height: 90%;

        .container {
            background-color: $basicWhite;
            border-radius: 1.50em;
            width: 38em;
            height: 29em;
            transition: 1s;
            padding-left: 8%;
            padding-right: 8%;
            margin-top: 8%;
    
            .form {
                .form-title {
                    text-align: center;
                    padding: 0.9em;
                    font-family: Inter Medium;
                    font-size: 1.8em;
                    font-weight: 31.25em;
                    letter-spacing: 0;
                    line-height: 1.9em;
                }
                .input-area {
                    width: 100%;
                }
                .forget-password {
                    text-align: center;
                    height: 0.8em;
                    .forget-password-text {
                        opacity: 0.8;
                        color: $basicBlack;
                        font-family: Roboto;
                        font-size: 1em;
                        letter-spacing: 0;
                        line-height: 0.8em;
                    }
                }
                .small-pink-btn {
                    font-weight: bold;
                    border-radius: 1.9em;
                    width: 11em;
                    height: 3.5em;
                    background-color: $robosoftPink;
                    color: $basicWhite;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }    
}

@mixin overriding-material-input-box() {
    ::ng-deep {
 
        .mat-form-field-appearance-outline .mat-form-field-outline {
           color: $custom-label-color;
        }
     
        .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
           color: $custom-label-color;
        }
        
        .mat-form-field-label {
           color: $custom-label-color;
        }
    
        .mat-form-field.mat-focused .mat-form-field-label {
           color: $custom-label-color;
        }
    }   
}
