// Basic colors
$basicBlack : #000;
$basicWhite : #fff;

$basicRed : #f00;
$basicGreen: #0f0;
$basicBlue: #00f;

// New colors
$robosoftPink: #D92756;
$footerTextColor:  rgba(0,0,0,0.6);
$footerBackground: rgba(0,0,0,0.02);
$custom-label-color: rgba(0, 0, 0, .6);
$pinkGradientBackground: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);