@import "../../../../../variables.scss";
@import "../../../../../mixin.scss";

@include overriding-material-input-box();
@include overlayMode();
@include modelStyle();

.container-fluid {
    background-color: $homePageBackground;

    .row {
        .right-bar {
            background-color: $basicWhite;
            border-radius: 20px;

            .input-bar {
                .input-bar-header {
                    opacity: 0.87;
                    color: $basicBlack;
                    font-family: $roboto;
                    font-size: 20px;
                    font-weight: 500;
                    letter-spacing: 0.15px;
                    line-height: 24px;
                }
                .input-form {
                    outline: none !important;
                    @include input-area-full();
                    @include input-area-medium();

                    .additional-details {
                        @include input-area-small();
                        .input-suffix {
                            position: relative;
                            bottom: 5px;
                            color: $footerTextColor;
                            font-family: $roboto;
                            font-size: 16px;
                            letter-spacing: 0.15px;
                        }
                    }
                    .icon-pink {
                        color: $robosoftPink;
                        cursor: pointer;
                    }
                }
            }

            .toggle-options-container {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                float: right;
                margin-right: 1em;
                z-index: 2;

                color: $robosoftPink;
                font-family: $roboto;
                font-size: 11px;
                font-weight: 500;
                letter-spacing: 0.88px;
                line-height: 11.2px;
                text-align: center;

                .fab-button-container {
                    position: relative;
                    bottom: 100px;
                    @include fabButton($robosoftPink);
                }

                .toggle-options {
                    position: absolute;
                    bottom: 180px;

                    .light-pink-background {
                        border-radius: 24px;
                        background-color: $toggleOptionsBackground;
                        width: 194.6px;
                        height: 33.6px;
                        margin: 0.5em;
                        margin-bottom: 1.5em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
